<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Ryan Weber Development{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
		{% block scripts %}
			<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js'></script>
		{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>