{% extends "/Layouts/main.html.twig" %}

{% block title %}Ryan Weber | Home{% endblock %}
{% block scripts %}
{{ parent() }}
{% endblock %}
{% block header %}
{{ parent() }}
{% endblock %}
{% block content %}
	<div class='main-content'>
		<div class='content'>
			<div class='splash'>
				{#
					TESTER!
					{% set new_name='COOLMAN' %}
					{{ new_name }}
				#}

			</div>
		</div>
	</div>
{% endblock %}